.part6,
.part7 {
    background-color: black;
    display: flex;
    padding: 70px 150px;
    flex-direction: column;
    color: white;
}

.hr7 {
    background-color: black;
    margin: 0;
    color: #606060;
}

.part6,
.up2 {
    margin-bottom: 20px;
}

.part6,
.up2 p {
    color: #FFCC00;

    font-size: 24px;
    margin-bottom: 0px;

}

.part6,
.up2 h2 {
    font-size: 64.6px;
    color: white;

}

.styled-table {
    width: 100%;
    margin: 0px;
    color: white;
}

.styled-table th,
.styled-table td {
    width: 40%;
    position: relative;
    font-family: "Blinker", serif;
    padding: 8px;
}

.styled-table th {
    font-size: 37.23px;
}

.styled-table td {
    font-size: 25px;
    line-height: 30px;
}

.styled-table th::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 39px;
    height: 3px;
    background-color: #FFCC00;
}

.hidden-row {
    display: none;
}

#day {
    color: #FFCC00;
    font-size: 30.96px;
}

#readMore {
    margin-top: 10px;
    background: none;
    color: #FFCC00;
    border: 2px solid #FFCC00;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 25.88px;
    transition: 0.3s;
    font-family: "Teko", serif;

}

#readMore:hover {
    background: #FFCC00;
    color: black;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;

}

.grid-card {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 15px 15px 0px;
    border-left: 5px solid #ffcc00;
}

.grid-icon {
    width: 71px;
    height: 71px;
    background-color: #ffcc00;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.grid-icon img {

    object-fit: contain;
}


.grid-text h3 {
    color: #ffcc00;
    margin: 0;
    font-size: 27.22px;
}

.grid-text p {

    margin: 5px 0 0;
    font-size: 25px;
}

@media(max-width: 1720px) {

    .grid-text p {
        margin: 5px 0 0;
        font-size: 22px;
    }
}

@media(max-width: 1440px) {
    .grid-text p {
        margin: 5px 0 0;
        font-size: 20px;
    }

    .up2 h2 {
        font-size: 50.6px;
    }

    .grid-card {
        padding: 5px 5px 5px 0px;
    }
}

@media(max-width: 1024px) {

    .part6,
    .part7 {
        padding: 70px 80px;
    }

    .styled-table th {
        font-size: 33.23px;
    }

    .grid-container {
        padding: 0px;
    }

    .part6,
    .up2 h2 {
        font-size: 50.6px;
        color: white;
    }
}

@media (max-width: 900px) {}

@media (max-width: 768px) {

    .part6,
    .part7 {
        padding: 70px 40px;
    }

    .part6,
    .up2 h2 {
        font-size: 33.6px;
        color: white;
    }

    .up2 p {
        font-size: 14px;

    }

    .styled-table th {
        font-size: 26.23px;
    }

    .styled-table td {
        font-size: 18px;
        line-height: 26px;
    }

    #day {
        font-size: 26.96px;

    }

    .grid-text p {
        margin: 5px 0 0;
        font-size: 14px;
    }

    .grid-icon {
        width: 61px;
        height: 61px;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 375px) {
    .part6, .part7 {
        padding: 60px 20px;
    }
}
@media (max-width: 320px) {

    .up2 h2 {
        font-size: 28px;
    }

    .up2 p {
        font-size: 12px;
    }

    .grid-container {
        gap: 10px;
    }

    .grid-card {
        padding: 5px;
    }

    .grid-icon {
        width: 50px;
        height: 50px;
        padding: 12px;
        margin-right: 10px;
    }

    .grid-text h3 {
        font-size: 20px;
    }

    .grid-text p {
        font-size: 16px;
    }

    .styled-table th {
        font-size: 20px;
    }

    .styled-table td {
        font-size: 14px;
        line-height: 20px;
        padding: 8px;
    }

    #day {
        font-size: 20px;
    }
    #readMore {
        font-size: 16px;
    }
}